table {
  margin: 0 auto;
  border-collapse: collapse;
}

.selector-container {
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
}

.selected {
  border-bottom: 1px solid;
}

.unselected {
  color: gray;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

@media(min-width: 640px) {
  .selector-container {
    width: 500px;
    margin: 20px auto;
  }
}